* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.mainContainer {
    display: flex;
    flex-direction: column;
}

.header {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    background-color: #f4f4f5
}

.headerTitle {
    font-size: xx-large;
    font-weight: bolder;
    margin-right: auto;
    margin-left: 5%;
}

.bookBut {
    padding: 5px;
}

.cardContainer {
    display: flex;
    padding: 7px;
    margin: 15px;
    flex-wrap: wrap;
}

.bookCard {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin: 15px;
    padding: 7px;
    width: 20vw;
    height: 30vh;
    overflow: auto;
    background-color: #f4f4f5;
}

.cardRow {
    display: flex;
}

.cardDes {
    font-size: large;
    font-weight: bold;
    margin: 4px;
    padding: 2px;
}

.cardInput {
    font-size: large;
    margin: 4px;
    padding: 2px;
}

.readBut {
    padding: 5px;
    margin: 10px;
}

.formContainer {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    height: fit-content;
    width: 40%;
    height: 75%;
    position: fixed;
    left: 30%;
    top: 5%;
    background-color: #e5e5e5;
    overflow: auto;
}

.formContainer label, .bookRead {
    padding: 4px;
    margin: 5px;
    font-size: x-large;
}

.formContainer input {
    padding: 4px;
    margin: 5px;
    width: 40%;
    height: 10%;
    font-size: larger;
    background-color: #fafafa;
}

.formContainer h2 {
    padding: 7px;
    margin: 15px;
    font-size: xxx-large;
}

.formContainer button {
    padding: 4px;
    margin: 10px;
}


.radioRead {
    margin-bottom: 15px;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    } 

.butRow {
        margin-top: auto;
    }

.bookCard.read {
        border-left-width: 15px;
        border-left-color: green;
    }

.readStatus.read {
        font-weight: bold;
        color: green;
    }

    button.read {
        background-color: green;
        color: white;
    }

    button.read:hover {
        background-color: rgb(2, 176, 2);
    }

    .bookCard.notRead {
        border-left-width: 15px;
        border-left-color: rgb(200, 2, 2);
    }

    .readStatus.notRead {
        font-weight: bold;
        color: rgb(200, 2, 2);
    }

    button.notRead {
        background-color: rgb(200, 2, 2);
        color: white;
    }

    button.notRead:hover {
        background-color: red;
    }